<!--  Menú Lateral -->
<div id="wrapper" class="active col-xs-2">
        <div id="sidebar-wrapper" style="margin-top: -20px">
            
            <ul id="sidebar_menu" class="sidebar-nav" >
                <li class="sidebar-brand"><a id="menu-toggle" href="#">Rec/Env Pedidos</a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <li><a href="">Envios a recibir</a></li>
                <li><a href="">Albaranes de salida</a></li>
            </ul>

            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">Rec/Env producto</a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <li><a href="">Productos a recibir</a></li>
                <li><a href="">Enviar productos</a></li>
            </ul>


            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">Control inventario</a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <li><a href="">Inventarios fisicos</a></li>
            </ul>

            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">Planificaciones</a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <li><a href="">Ejecutar planificadores</a></li>
                <li><a href="">Excepcones abast</a></li>
            </ul>

            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">Productos</a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <li><a href="">Producto por categoría</a></li>
                <li><a href="">Productos</a></li>
            </ul>


            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">Configuración</a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                <li><a href="">Reglas Ordenación</a></li>
                <li><a href="">Categoría Unidades</a></li>
                <li><a href="">Unidades de medida</a></li>
                <li><a href="">Gestión Almacenes</a></li>
                <li><a href="">Productos</a></li>
            </ul>

        </div>

</div>
<!-- /  Menú Lateral -->

<div class="row production-panel">
    <div class="col-xs-10 col-sm-offset-1">
        <img src="images/fondo2.png" class="img-responsive" alt="Responsive image">
    </div>
</div>

